*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--ff-primary);
}

html,
body {
  font-size: 62.5%;
  color: var(--onyx);
}

html {
  font-size: 62.5%;
  background: var(--veryLight-grey);
}

@media (min-width: 34.375em) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 40.625em) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 46.875em) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 100em) {
  html {
    font-size: 90%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  padding: 0rem;
}

section {
  padding: 1rem;
  text-align: center;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beforeContainer {
  position: relative;
  min-height: 700px;
  overflow: hidden;
}

@media (min-width: 40.625em) {
  .beforeContainer {
    min-height: 1010px;
  }
}
