.groupHome {
  position: relative;
  padding: 2rem;
}

.groupHome--edit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}

.groupHome--delete {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 20px;
}
.groupHome--delete .fa-trash-alt{
  color: #ff0033;
}

.groupHome--avatar-container {
  overflow: hidden;
  height: 400px;
  box-shadow: var(--bs);
  margin-top: 1rem;
}

.groupHome--avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.groupHome--heading {
  text-transform: capitalize;
  height: 3em;
  line-height: 1.1em;
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.groupHome__labels {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.groupHome__labels--item {
  position: relative;
  font-size: 2rem;
  font-weight: var(--fw-reg);
  cursor: pointer;
}

.groupHome__labels--item:hover {
  color: var(--sweden-blue);

  transform: scale(1.2);
}

.active {
  color: var(--sweden-blue);
  text-decoration: underline;
}
