.groupForm {
  text-align: center;
}

.groupForm--img {
  overflow: hidden;
}

.groupForm--avatar {
  max-height: 500px;
  border-radius: 8px;
  object-fit: none;
  overflow: hidden;
  object-position: center;

  box-shadow: var(--bs);
}

.groupForm--upload {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
