.commentCard {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 6px;
  box-shadow: var(--bs);
  background: var(--veryLight-grey);
  padding: 1rem;
}

.commentCard__card--body {
  font-size: var(--fs-body);
  margin-top: 1rem;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.commentCard__card--created {
  font-size: var(--fs-body-small);
  position: absolute;
  top: 25px;
  left: 12px;
}

.commentCard__card--edit {
  font-size: var(--fs-body);
  cursor: pointer;
  position: absolute;
  top: 22px;
  left: 175px;
}
