.form--input {
  position: relative;
  margin: auto;
  margin: 2rem 0;
}

.form--input textarea {
  resize: none;
}

.form--input input,
.form--input textarea {
  background: none;
  margin: auto;
  color: var(--onyx);
  font-size: 1.8rem;
  padding: 1rem 1rem 1rem 0.5rem;
  display: block;
  width: 50rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
.form--input input:focus,
.form--input textarea:focus {
  outline: none;
}

.form--input input:focus ~ label,
.form--input input:not(:placeholder-shown) ~ label,
.form--input textarea:not(:placeholder-shown) ~ label,
.form--input textarea:focus ~ label {
  opacity: 100%;
  top: -15px;
  font-size: 14px;
  color: #2196f3;
}
.form--input input:focus ~ .bar:before,
.form--input textarea:focus ~ .bar:before {
  width: 50rem;
}

.form--input label {
  opacity: 0;
  color: var(--dark-grey);
  font-size: 1.6rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 140px;
  top: 10px;
  transition: 300ms ease all;
}

.form--input .bar {
  position: relative;
  margin: auto;
  display: block;
  width: 50rem;
}
.form--input .bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196f3;
  transition: 300ms ease all;
  left: 0%;
}

.form--input .error {
  font-size: var(--fs-body);
  text-align: left;
  color: var(--red);
  width: 180px;
  padding: 0.4rem;
  margin-left: auto;
}

.form--input input:focus::placeholder,
.form--input textarea:focus::placeholder {
  opacity: 0;
  transition: 300ms ease all;
}
