.header {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgb(215, 216, 216);
  box-shadow: var(--bs);
  background: var(--white);
}

.header__list {
  display: flex;
  justify-content: space-around;
}

.header__list--item {
  color: var(--onyx);
  font-size: 0.8rem;
}

.header__list--item .fas {
  color: var(--dark-grey);
  font-size: 35px;
}

.header__list--item:hover .fas,
.header__list--item:hover {
  color: var(--sweden-blue);
  transform: scale(1.1);
}

.activeNav .fas {
  color: var(--sweden-blue);
  text-decoration: none;
}

.activeNav {
  color: var(--sweden-blue);
  text-decoration: underline;
}
