.userCreatedGroups {
  position: relative;
  width: 88%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  box-shadow: var(--bs);
  background: var(--white);
}

.userCreatedGroups__grid {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: var(--white);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: var(--bs-dark);
}

.userCreatedGroups__grid:hover {
  background-color: var(--medium-blue-hover-light);
}

.userCreatedGroups--author-text {
  display: flex;
  justify-content: space-between;
  font-weight: var(--fw-reg);
  color: var(--onyx);
  margin-bottom: 0.7rem;
}

.userCreatedGroups--img-container {
  margin-left: auto;
  margin-right: auto;
}

.userCreatedGroups--img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
}

.userCreatedGroups--description {
  width: 210px;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.8rem;
  display: -webkit-box;
}

.userCreatedGroups--itemTitle {
  width: 210px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
