#sidebar {
  margin-bottom: 20px;
}

.sidebarWrapper {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(minmax(150px, 1fr));
  grid-column-gap: 5px;
  white-space: nowrap;
  overflow-x: scroll;
  top: 0;
}

.sidebarWrapper::-webkit-scrollbar {
  display: none;
}


.sidebarWrapper {
  align-items: center;
}

.sidebar-group-list {
  font-size: var(--fs-h3);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%),
    rgba(255, 255, 255, 0.356);
  /* background-color: #f8f9fa; */
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 20px;
  align-items: center;
  width: 120px;
  height: fit-content;
}

.sidebar-group-list:hover {
  background-color: var(--sweden-yellow);
  border: 2px solid var(--sweden-blue);
  filter: brightness(110%);
}


#sidebar .itemTitle {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  overflow-x: scroll;
}

.sidebarButtonTop {
  border: 1px solid #006aa8;
  color: #006aa8;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  background-color: white;
}

.fa-sign-out-alt {
  display: none;
}

.sidebar-image img {
  width: 115px;
  height: 70px;
  object-fit: cover;
}

.sidebarButtonBottom {
  border: 1px solid #006aa8;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  width: 150px;
  height: 40px;
  background-color: #006aa8;
}

.sidebar-button {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

}

@media screen and (min-width: 1025px) {

  #sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 2px solid white;

  }

  ::-webkit-scrollbar {
    width: 1px;
  }

  ::-webkit-scrollbar-track {
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153, 0.25);
  }

  .sidebarWrapper {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    object-fit: contain;
  }

  .sidebar-group-list {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 55px;
    width: 240px;
  }

  .sidebar-image img {
    padding: 2px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
  }

  .fa-sign-out-alt {
    display: flex;
    font-size: 20px;
    color: #999;
    text-align: center;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);

  }

  .fa-sign-out-alt:hover {
    color: #ff0033;
  }

  .sidebar-list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-column-gap: 5px;
  }

  .danger-btn>i {
    position: relative;
    top: calc(50% - 20px);
  }

  #sidebar .itemTitle {
    text-align: justify;
    overflow-x: scroll;
  }


  .sidebarButtonBottom,
  .sidebarButtonTop {
    width: 130px;
    font-size: 12px;
  }
}
