#sidebar {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: -webkit-sticky;
  position: sticky;
  padding: 50px;
  margin: 0 auto;
}
#sidebar a{
  align-items: center;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(153, 153, 153, 0.25);
}
.sidebarWrapper {
  align-items: center;
}

.sidebar-list {
  font-size: var(--fs-h3);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.356);
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 20px;
  align-items: center;
  width: 150px;
  height: 150px;
}

#sidebar .itemTitle {
  font-size: var(--fs-h3);
  font-weight: 300;
  text-align: center;
  padding: 0;
}

.sidebarButtonTop {
  border: 1px solid #006aa8;
  color: #006aa8;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  width: 200px;
  height: 40px;
  background-color: white;
}
.sidebar-image img{
  display: none;
}
.sidebarButtonBottom {
  border: 1px solid #006aa8;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  width: 200px;
  height: 40px;
  background-color: #006aa8;
}
.fa-backspace{
  font-size: 30px;
  color: #555;
}
.fa-backspace:hover {
  color: tomato;
}
