#sidebar {
  width: 330px;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(153, 153, 153, 0.25);
}
.sidebarWrapper {
  align-items: center;
}
.sidebarTitle {
  position: absolute;
  left: 70px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  margin-bottom: 20px;
}

.listItemContent {
  font-size: var(--fs-h3);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(238, 237, 246, 0.4);
  border-radius: 10px;
  border: 1px solid white;
  width: 236px;
  height: 50px;
  margin-bottom: 20px;
  padding: 5px;
}

.itemTitle {
  font-size: var(--fs-h3);
  font-weight: 300;
  align-items: center;
}

.tag {
  left: 0;
  margin-right: 15px;
  background-color: rgba(153, 153, 153, 0.1);
  color: tomato;
  width: 35px;
  height: 35px;
  align-items: center;
  text-align: center;
}
.sidebarItemText {
  margin: -20px;
}
.sidebarButtonTop {
  width: 120px;
  border: 1px solid #006aa8;
  color: #006aa8;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  width: 200px;
  height: 40px;
  background-color: white;
}

.sidebarButtonBottom {
  width: 120px;
  border: 1px solid #006aa8;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  width: 200px;
  height: 40px;
  background-color: #006aa8;
}
